<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RichSpreadsheet</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      #luckysheet {
        position: absolute;
        left: 240px;
        top: 144px;
        width: calc(100vw - 240px);
        height: calc(100vh - 144px);
      }
    </style>
    <%- injectStylesheet %>
  </head>
  <body>
    <button id="rowIds">获取 RowIds</button>
    <button id="updateCell">更新 cell 1 1</button>
    <div id="luckysheet"></div>

    <%- injectScript %>
    <script src="./example/index.ts" type="module"></script>
  </body>
</html>
